@font-face {
    src: url(/ttf/JetBrainsMono-Regular.ttf);
    font-family: JetBrainsMono;
}
html {
    background-image: url("/img/demdyla-5c43f79c-b70a-4fd7-bf23-848883140ae6.gif") /*no-repeat center center fixed*/; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: JetBrainsMono;
    color: white;
}
main {
   background: rgba( 32, 5, 5, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
    padding: 1rem;
    }
button {
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125)
    color: white;
    font-family: JetBrainsMono;
}

games {
    width: 137px;
    border-radius: 15px;
    padding: 6px;    
    margin-right: auto;
    margin-left: auto;
    float: none;
}
