.choice {

    text-align: center;
    font-size: 55px;
   
   
  }


  body {
 
    background: url('/img/background_img.gif'); 
    font-family: WTM;
    color:white;
  }


  img {
      width: 130px;
      background: white;
      border: 5px solid #d4d4d4; padding:1em; 
      padding: 5px;
  }

  @font-face {
    font-family: WTM;
    src: url('walkthemoon.ttf');
}

a {
 margin-right: auto;
 margin-left: auto;
 text-align: center;
 width: 50%;
 

}
