.title {
  font-size: 75px;
    color: black;
    font-family: WalkTheMoon;
    text-align: center;
    padding: 15px;
}

@font-face {
    font-family: WalkTheMoon;
    src: url('walkthemoon.ttf');
}

.body {
  background-image: url("/img/betterbackground.gif");
  height:100%;
  width:100%;
}

  .gming {
     height:130px;
     width:130px;
    }
.img { 
  height:130px;
  width:130px;
}


.menubar {
    text-align: center;
}
